header {
  background-color: rgb(192, 0, 0);
  color: white;
  padding: 15px;
  display: flex;
}

.header2 {
  background-color: rgb(56, 56, 56);
  color: white;
  display: flex;
  padding: 10px;
  justify-content: flex-end;
}

.header2 > div {
  margin: 7px;
}

.links {
  text-decoration-line: underline;
}

footer {
  background-color: rgb(56, 56, 56);
  color: white;
  padding: 25px;
}

#title {
  font-weight: bold;
  font-size: 34px;
}

.main {
  display: flex;
  flex-direction: row;
}

.side {
  display: flex;
  flex-direction: column;
}

.small_images {
  object-fit: cover;
  height: 140px;
  width: 220px;
  float: left;
}

.paragraphs {
  margin-bottom: 10px;
  font-size: 15px;
}

footer {
  bottom: 0;
  position: absolute;
  clear: both;
  padding: 15px;
}